.field_level {
  --input-max-width: 2.25em;
}

.field_xp {
  --input-max-width: 5em;
}

.field_xpTable {
  margin-left: auto;
}

.field_classType {
  display: flex;
  align-items: center;
  gap: .25em;

  label {
    white-space: nowrap;
  }
}


.flag_group {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
}

.flag_list {
  display: grid;
  grid-template-columns: fit-content(2em) 1fr;
  gap: .5em;
  align-items: flex-start;

  h3 {
    grid-column: 1/-1;
  }

  input[type=checkbox] {
    margin: 0;
  }

  label {
    margin-top: .08em;
  }
}