:global {
  .sw-select {
    display: block;
    
    label {
      display: block;
    }
  }

  .sw-checkbox {
    display: flex;
    align-items: center;
  }
}

.sheet_form {
  flex-direction: column;
  display: flex;
}

.header_subfields {
  display: flex;
}

.sheet_body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: .25em;
}

.field_quantity,
.field_popularity {
  --input-max-width: 2.5em;
  text-align: center;
}

.field_era {
  margin-left: auto;
}

.stances {
  --icon-column-width: 2.25em;

  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: fit-content(var(--icon-column-width))
                          repeat(3, fit-content(100px))
                          repeat(7, fit-content(var(--icon-column-width)));
  gap: .25em;

  span:nth-of-type(-n+10) {
    font-weight: bold;
  }

  .stance_icon_field {
    max-width: var(--icon-column-width);
    text-align: center;
  }
  
  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    line-height: 1em;
    text-align: center;
  }

  .power_grid {
    grid-column: 2/-1;
    border-radius: .25em;
    border: 1px solid rgba(52, 52, 52, 0.95);
    padding: 0;
    margin-bottom: .75em;
  }
}

.description {
  flex: 1;
  display: flex;
  flex-direction: column;
}


