.sheet--item {
  .header-field-group {
    display: flex;
    align-items: center;
    gap: 0.25em;

    &:not(:last-of-type) {
      margin-bottom: .25em;
    }
  }

  .window-content {
    background: #fff;
  }

  .editor.prosemirror {
    flex: 1;
  }

  .tab[data-tab] {
    &.active {
      height: 100%;
    }

    &.tab--description {
      main {
        display: flex;
        height: inherit;
      }
    }

    &.tab--details {
      grid-template-columns: 1fr 2fr;
      gap: .5em;

      &.active {
        display: grid;
      }
    }
  }
}