:root {
  /* HP/MP BARS */
  --color-hp-meter-dark: #0f5f25;
  --color-hp-meter-light: #5cad73;

  --color-mp-meter-dark: #5a0f5f;
  --color-mp-meter-light: #c274c8;

  /* GEAR RANK COLORS */
  --color-rank-b-light:  #8ba097;
  --color-rank-b-dark:   #49544f;

  --color-rank-a-light:  #51a4ad; 
  --color-rank-a-dark:   #2d5b60;

  --color-rank-s-light:  #807edd; 
  --color-rank-s-dark:   #383691;

  --color-rank-ss-light: #a079c6;
  --color-rank-ss-dark:  #612E94;
}

@media(prefers-color-scheme: light) {
  :root {
    /* HP/MP BARS */
    --color-hp-meter: var(--color-hp-meter-light);
    --color-mp-meter: var(--color-mp-meter-light);

    /* GEAR RANK COLORS */
    --color-rank-b: var(--color-rank-b-light);
    --color-rank-a: var(--color-rank-a-light);
    --color-rank-s: var(--color-rank-s-light);
    --color-rank-ss: var(--color-rank-ss-light);
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    /* HP/MP BARS */
    --color-hp-meter: var(--color-hp-meter-dark);
    --color-mp-meter: var(--color-mp-meter-dark);
    
    /* GEAR RANK COLORS */
    --color-rank-b: var(--color-rank-b-dark);
    --color-rank-a: var(--color-rank-a-dark);
    --color-rank-s: var(--color-rank-s-dark);
    --color-rank-ss: var(--color-rank-ss-dark);
  }
}